<div class="loader" [hidden]="!loader">
	<span></span>
	<span></span>
	<span></span>
	<span></span>
</div>
<div class="container" [hidden]="loader">
	<div class="row justify-content-center">
		<div class="col-md-8">
			<div class="card">
				<h3 class="card-header-title mb-1"><span class="icon-lock"></span> Change Password</h3>
				<div class="card-body  card-body-cascade text-center px-lg-5" style="padding-top: 35px;">
					<div class="container">
						<form [formGroup]="resetPasswordForm">
							<div class="md-form">
								<span class="icon-envelope prefix"></span>
								<input type="email"  id="form2" formControlName="email"  class="form-control validate">
								<label for="inputValidationEx" data-error="wrong">Type your email</label>
							</div>

							<div class="md-form">
								<span class="icon-lock-open prefix"></span>
								<input type="password"  id="form2" autocomplete="new-password"  formControlName="currentPassword" id="currentpassword"  class="form-control validate">
								<label for="currentpassword" data-error="wrong">Current password</label>
							</div>

							<div class="md-form">
								<span class="icon-lock prefix"></span>
								<input type="password"  autocomplete="new-password"  formControlName="newPassword" id="form2"  class="form-control validate" [ngClass]="{ 'is-invalid': submitted && f.newPassword.errors }" [type]="show ? 'text' : 'password'" />
								<span toggle="#password-field" class="fa fa-fw fa-eye-slash field-icon toggle-password" (click)="password()" [title]="pwd ? 'hide password' : 'show password'"></span>
								<label for="form2" data-error="wrong">New Password</label>
								<div *ngIf="submitted && f.newPassword.errors" class="invalid-feedback">
									<div *ngIf="f.newPassword.errors.required">Password is required</div>
									<div *ngIf="f.newPassword.errors.minlength">Password must contain atleast 6 characters</div>
									<div *ngIf="f.newPassword.errors.maxlength">Password must be  only 20 characters</div>
								</div>
							</div>
							<div class="md-form">
								<span class="icon-check prefix"></span>
								<input type="password" formControlName="confirmPassword"  id="confirmpassword"  class="form-control validate" (input)="comparePassword(resetPasswordForm)" [type]="show1 ? 'text' : 'password'" [ngClass]="{ 'is-invalid': submitted && f.newPassword.errors }" /> 
								<span toggle="#password-field" class="fa fa-fw fa-eye-slash field-icon toggle-password" (click)="confirmPassword()" [title]="pwd1 ? 'hide password' :'show1 password'"></span>
								<label for="confirmpassword" data-error="wrong" data-success="right">Confirm Password</label>
								<div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
									<div *ngIf="f.confirmPassword.errors.required">Password is required</div>
									<div *ngIf="f.confirmPassword.errors.minlength">Password must contain atleast 6 characters</div>
									<div *ngIf="f.confirmPassword.errors.maxlength">Password must be  only 20 characters</div>
								</div>
							</div>


							<div class="form-group">
								<button class="btn btn-default" (click)="resetPassword()" [disabled]="!match || isDisable">Update Password</button>

								<a [routerLink]="['/login']" class="btn btn-link">Cancel</a>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>