<h3 class="card-header-title"><span class="icon-note"></span> Add Team Members</h3>
<div class="card">
	<div class="card-body">
		<form class="form-horizontal" role="form">
			<div class="row">
				<div class="col-sm-6 form-group">
				 <span >Tehnologies</span>
					<select class="form-control" style="margin-top:17px;">
						<option>BackEnd</option>
						<option>Ios</option>
						<option>Android</option>
						<option>React Native</option>
					</select>
				</div>
				<div class="col-sm-6 form-group">
					<span>Developers</span>	
					<input type="text" name="title"  class="form-control">
				</div>
			</div>
			<button type="button" class="btn btn-default deep-purple ml-0" (click)="addMember()">Add</button>
		</form>
	</div>
</div>