*[role="form"] {
    max-width: 530px;
    padding: 15px;
    margin: 0 auto;
    border-radius: 0.3em;
    background-color: #ffff;
    border: 1px solid;
    margin-top: 80px;
    border: 1px solid black;
}
h2{ 
    font-size: 30px;
    color: #000000;    
}
.card.panels-card{
    width: 500px;
    margin: 0 auto;
    max-width: 100%;
}
.form-group .form-control{
    padding: 10px 15px;
    box-sizing: border-box;
    height: 50px;
    border: 1px solid #4b405a;
    box-shadow: none!important;
}
a.btn.btn-link {
    text-decoration: none;
}
img.loading_img {
    display: inline-block;
    height: 25px;
    margin-left: 15px;
}
.deep-purple-skin .top-nav-collapse {
    background-color: #372e5f;
}
.btn-deep-orange {
    background: #413670;
}
#pwdi{
    float: right;
    margin: -50px 0 0 0 !important;
    color: #000;
}
.field-icon {
  float: right;
  margin: -45px 0 0 0;
  position: relative;
  z-index: 2;
  cursor: pointer;
}
.error_msg{
    color: red;
}
.error{
        margin-left: 10px;
    }

.forgottxt{
    text-align: center;
    margin-top: 15px;
}